* {
  padding: 0;
  margin: 0;
}

.box {
  height: 100vh;
  background-color: hsl(219, 79%, 66%);
}

.Banner_1 {
  position: fixed;
  color: hsl(219, 79%, 66%);
  width: 800px;
  min-width: 800px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Banner_1-title {
  width: 40%;
  z-index: 100;
  padding-top: 75px;
  padding-left: 120px;
  position: relative;
}

.Banner_1-title-small-new {
  font-size: 25px;
  display: inline-block;
  line-height: 1;
}

.Banner_1-title-small-year {
  font-size: 25px;
  display: inline-block;
  line-height: 0;
  padding-right: 10px;
}

.Banner_1-title-small-number {
  font-size: 50px;
  line-height: 25px;
}

.Banner_1-title-big-number {
  font-size: 100px;
}

.Banner_1-title-p {
  font-size: 20px;
}

.Banner_1-title-small {
  display: inline-block;
  width: 20%;
  line-height: 1;
  text-align: right;
}

.img {
  width: 100%;
  position: absolute;
  left: 0%;
  z-index: 10;
}

.Banner_1-title-day {
  font-size: 30px;
  margin-bottom: 30px;
}

.Banner_1-title-age {
  color: aliceblue;
  border: #102a82 solid 1px;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  background-color: #102a82;
  position: absolute;
  right: 30px;
  bottom: 0;
  z-index: 10;
}

.Banner_1-title-box {
  font-weight: 800;
}

.rem {
  width: 40%;
  margin-top: 30px;
  position: relative;
  width: 75%;
  z-index: 10;
  margin-left: 20px;
}
